<a href="/collections"><button class="button-success">Manage Amiibo Collections</button></a>
<br/>
<a href="/tags"><button class="button-success">Manage Tags</button></a>
<br/>
<a href="/bluetooth"><button class="button-warning">Manage Bluetooth</button></a>
<br/>
